* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg_image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-family: Montserrat;
    font-size: 75px;
    text-align: right
}

#content-container {
    font-family: Questrial
}

.saved-jobs-container {
    width: 95%;
    margin: auto;
    font-family: Questrial
}

.navigation {
    font-size: 20px;
}

.second-link {
    margin-left: 40px;
}

