* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg_image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#project-logo {
    width: 80px;
    padding-top: 35px;
    margin-left: -20px
}

.title {
    font-family: Montserrat;
    font-size: 75px;
    text-align: right;
}

.header {
    margin-bottom: 25px
}

.search-results-field {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    padding: 5px;
}

.saved-jobs-field {
    width: 95%;
    margin: auto;
    font-family: Julius Sans One;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);

}

.search-input-field {
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius: 6px
}

.form-check {
    font-size: 16px;
    margin-left: 10px
}

div.form-check label {
    margin-left: 10px
}

.navigation {
    font-size: 20px;
    font-family: Julius Sans One;
}

.nav-link:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    text-decoration: none;
    font-weight: bold;

    /* color: #000000; */

    padding: 5px;
    border-radius: 4px;
}

.nav-link {
    text-decoration: none;

    color: #218a92;

    font-weight: bolder;
    font-size: 15px
}

td a {
    text-decoration: none;

    color: #218a92;
}

td a:hover {

    color: #27618d;

    text-decoration: none;
    font-weight: 900;
    font-size: 18px

}

tr.result-item:hover {

    background-color: #e5f1fd;

    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 5px #ccc;
}

tr.result-item {
    font-size: 17px
}

.submit-button {
    margin: 20px 0 0 0
}


.btn-block:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    color: #ffffff;
}

td:last-child {
    font-size: 14px
}

td:nth-child(2) {
    font-size: 15px
}

.table-labels {
    text-decoration: underline;
}

#jobs-font {
    font-family:'Abel', sans-serif;
}

.search-results-field {
    background-color: rgba(255,255,255, 0.4);
}

td {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;   
  }
 
.form-check {
    padding-left:20px;  
}

label {
    padding-left:10px;   
}

.submit-button {
    padding-top:10px; 

}
.btn-primary {
    background-color:#238a92 !important;
}

 a {
    color: #346d6d;
    text-decoration: none;
 }

 a:hover {
    text-decoration: none;
 }
.page-footer {
    display: flex;
    justify-content: center
}

.page-button {
    margin-right: 15px
}

 .nav-link:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
 }

 .double-click {
     padding-top: 35px;
     font-weight: bolder;
    font-size: 14px;
    /* color: #218a92; */
 }

 #pin-logo {
     padding-top:36px;
     width: 43px;
     height: auto;
     
 }

 .previous-page-button {
    margin-right: 180px; 
 }

