* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg_image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#project-logo {
    width: 80px;
    padding-top: 35px;
    margin-left: -20px
}

.title {
    font-family: Montserrat;
    font-size: 75px;
    text-align: right
}

#content-container {
    font-family: Julius Sans One
}

.saved-jobs-container {
    width: 95%;
    margin: auto;
    font-family: 'Julius Sans One';
}

.navigation {
    font-size: 20px;
    font-family: 'Julius Sans One';
    font-weight: 980;
}

.second-link {
    margin-left: 30px;
}

.table-labels {
    text-decoration: underline;
}

#jobs-font {
    font-family:'Abel', sans-serif;
}

.search-results-field {
    background-color: rgba(255,255,255, 0.4);
}

td {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;   
  }
 
.form-check {
    padding-left:20px;  
}

label {
    padding-left:10px;   
}

.submit-button {
    padding-top:10px; 
}

 a {
    color: #346d6d;
    text-decoration: none;
 }

 a:hover {
    text-decoration: none;
 }

 .nav-link:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
 }
